.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}

.todolist {
    background: linear-gradient(to right, rgba(255, 181, 66, 0.65), rgba(164, 183, 127, 0.61));
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
}

ul {
    list-style: none;
    margin: 10px;
    padding: 0;
}

li:not(:last-child) {
    padding-bottom: 10px;
}

.task {
    font-weight: bold;
}

.task-done {
    text-decoration: line-through;
    opacity: 0.5;
}

.todolist-title-container {
    display: flex;
    align-items: center;
}

.task-input-error {
    border: 2px solid red;
}

.btn-filter-active {
    background-color: #436cef;
    color: white;
}

button {
    background-color: rgba(255, 255, 255, 0.9);
    color: #000000;
    cursor: pointer;
    border-radius: 5px;
    gap: 8px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: none;

    &:hover {
        background-color: rgba(161, 180, 51, 0.93);
    }

    &:disabled {
         background-color: #ccc;
    }
}

